*{
    margin: 0;
    padding: 0;
}

/* Variables */
:root{
    --color-principal: #823772; 
    --color-secundario: #e1b7ed;
    --color-secundario: #e1b7ed9e;
    --color-acento: #6c48d8;
    --color-acento-dos: #4d1cdd;
    --font-principal: 'Playwrite GB S', sans-serif;
    --img-fondo: url("../assets/images/fondobodega3.jpg");
    --img-fondo-dos: url("../assets/images/destacado2.jpg");
}


/* Estilos Navbar */
nav{
    background-color: var(--color-secundario);
    a{
        padding: 20px;
        font-family: var(--font-principal);
        color: var(--color-principal);
    }
    
    a:hover{
        text-shadow: 1px 1px 2px #823772;
    }

    .nav-img{
        border-radius: 50%;
    }

}


/* Estilos Footer */
.row{
    justify-content: center;
    margin: 0 !important;
}
.footer{
    background-color: var(--color-secundario);
}


/* Estilos inicio */
main{
    .carousel-img{
        width: 100vw;
        height: 60vh;
        object-fit: cover;
    }
}
section{
    padding: 30px;

    h3{
        padding: 20px;
        font-family: var(--font-principal);
    }


    .section-boton{
        margin: 10px;
        display: flex;
        justify-content: flex-start;
    }

    .section-boton-item{
        text-decoration: none;
        color: var(--color-principal);
        margin: 20px;
    }

    .section-boton-item:hover{
        color: black;
        text-shadow: 1px 0px 1px var(--color-acento);
    }

}



/* Seccion Contactos */
form{
    .form-contacto{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.7);
        align-items: center;
    }

}
.image-contacto{
    height: auto;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: var(--img-fondo);
}


/* Seccion Nosotros */
.image-nosotros{
    height: 300px;
    background-size: cover;
    background-position: center;
    background-image: var(--img-fondo-dos);
}
/* Responsive */
@media screen and (max-width: 576px) {
    .row{
        flex-direction: column !important;
    }
}


/* Seccion productos */
.carousel-img-prod{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
}
.card{
    overflow: hidden;   
}
.imagen-tarj{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card:hover{
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.5);

    .imagen-tarj{
        scale: 1.05;
    }
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Filtros */
.filtros{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Botones para las cards */
#btn-self {
    color: #fff;
    background-color: var(--color-acento);
    border-color: var(--color-acento);
}
#btn-self:hover{
    background-color: var(--color-acento-dos);
}

/* Botones para el filtrado */
#btn-filt {
    color: var(--color-acento);
    background-color: var(--color-secundario);
    border-radius: 24px;
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px
}

/* Sección detalles */
.detalles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.imagen-grande {
    flex: 1 1 50%;
    padding: 10px;
}

.imagen-grande-i {
    width: 100%;
    height: auto;
}

.imagen-chica {
    flex: 1 1 20%;
    padding: 5px;
}

.imagen-chica-i {
    width: 100%;
    height: 33%;
}

.text-detalles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 30%;
    padding: 10px;

    h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.1em;
    }
}


/* Responsive */
@media screen and (max-width: 576px) {
    .detalles {
        flex-direction: column;
    }

    .imagen-grande {
        flex: 1 1 100%; 
        padding: 10px;
    }

    .imagen-chica {
        flex: 1 1 100%; 
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
    }

    .imagen-chica-i {
        width: 30%;
        height: auto;
    }

    .text-detalles {
        flex: 1 1 100%;
        padding: 10px;
    }
}
